body{
    font-family: sans-serif;
    color: #d25299;
    text-shadow: black 0px 1px;
    background-color: black; 
    font-size: 18px;
}


header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    
}


main {
    display: flex;
    flex-direction: column;
}


button{
    font-weight: bold;
    border-radius: 5%;
    color:  #d25299;
    border-color: black;
    padding: 10px;
    -webkit-appearance: button;
    width: 50%;
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}

.headers{
    display: flex;
    flex-direction: column;
}
.header-logo{
   
    height: 100px;
    margin: 10px;
}


.status-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 18px;
        flex-shrink: 1;
}

img {max-width:100%;
margin: 10px;}

.js-start-page {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 0; 
}

p {
    display: block;
    height: 25px;
    font-size: 18px;
    margin: 20px;
}

.questions, .results, .js-end{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    
}



ul {
    
    bottom: 10px;
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

li {
    display: block;
    margin: 10px;
    height: 25px;
    padding: 20px;
    text-align: center;
    background-color: #d25299;
    color: black;
}

.li-selected {
    background-color: coral;
    color:black;
}

.status-bar {
    background-color: #d25299;
    color: black;
    margin: 10px;
}

.failure-image {
    height: 240px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}




@media screen and (min-width: 700px){
    ul{
        flex-direction: row;
    }
    li{
        font-size: 75%;
        
    }
    p{
        
        font-size: 20px;
    }
}

@media screen and (max-width: 700px){
    ul {
        flex-direction: column;
    }

    li{
        height: 20px;
        padding: 5px;
        font-size: 75%;
    }
}